# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
.env.*
.venv/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.history/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Data files
*.csv
*.tsv
*.dat
*.log

# Machine learning artifacts
logs/
checkpoints/
*.h5
*.ckpt
*.pth
*.pt
__results__/
results/
distilgpt2_fine_tuned/
__distilgpt2_fine_tuned__/


# Hugging Face Transformers
runs/
output_dir/
cache/
*.model
*.tokenizer_config.json
*.special_tokens_map.json
*.bin
*.safetensors

# TensorBoard
tensorboard/
events.out.tfevents.*

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
GuruCool-API/
/distilgpt2_fine_tuned_rank_0
/results_baseline
/results_low_rank
